<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GOAL FGV</title>
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,600,900' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/stylesheets/normalize.css">
    <link rel="stylesheet" href="static/stylesheets/style.css">
  </head>
  <body>
		<header>
			<nav id="nav" class="ry">
			<ul id="main-menu">
			<li>
			  <a href="#" class="active"><i class="fa fa-home"></i> Página Inicial</a>
			</li>
			<li>
			  <a href="#"><i class="fa fa-user"></i> Sobre <i class="fa fa-caret-down"></i></a>
				<ul class="submenu">
				<li><a href="#0">GitHub</a></li>
				<li><a href="#0">Gradiance</a></li>
				<li>
				  <a href="#0">Mais Itens <i class="fa fa-caret-right"></i></a>
				   <ul class="submenu">
					<li><a href="#0">Um sub-Item</a></li>
					<li>
					  <a href="#0">Outro sub-Item</a>
					 </li>
					<li>
					  <a href="#0">Outro sub-Item</a>
					 </li>
				  </ul>  
				 </li>
			  </ul>  
			</li>
			<li>
			  <a href="#"><i class="fa fa-pencil" aria-hidden="true"></i> Questões <i class="fa fa-caret-down"></i></a>
			   <ul class="submenu">
				<li><a href="submeter">Submeter</a></li>
				<li><a href="consultar">Consultar</a></li>
			  </ul>  
			</li>
			<li>
			  <a href="#"><i class="fa fa-comment"></i> Contato</a>
			</li>
		  </ul>
		</nav>  
	</header>
	<main id="main">
		<div class="container">
		  <div>
			<h1>Goal FGV</h1>
			<p>Plataforma para armazenamento e distribuição colaborativa de questões</p>
		  </div>
		  <div class="row">
			<div class="col-sm-8">
				<div>
					<h2>Método</h2>
					<p>A fim de gerar uma melhor experiência na busca e resolução de exercícios de Computação e de promover 
                        aprendizado e engajamento de estudantes na confecção colaborativa de questões, foi desenvolvida essa
                        ferramenta de compartilhamento de questões.
                    </p>
					<hr>
					<p>Baseado no <a href="http://crpit.com/confpapers/CRPITV38Ullman.pdf">GOAL (Gradiance On-Line Accelerated Learning)</a>,
                       as questões da plataforma buscam guiar o aprendizado tanto para aqueles que as desenvolve, quanto para os que as solucionam.
                       Busca-se nas prórprias questões exibir links de consulta, imagens elucidativas e explicações para corretude ou incorretude
                       das questões.
                    </p>
					<h2>Como usar</h2>
					<p>Para usar a plataforma basta navegar pelo menu superior e selecionar uma das opções de questões.</p>
					<h3>Enviando Questões</h3>
					<p>Deve-se selecionar a opção de submeter e conforme o template XML exposto, você poderá enviar uma questão na plataforma.</p>
					<p>Imagens Podem ser enviadas desde que possuam o endereço "/images/nome".</p>
					<h3>Consultando Questões</h3>
					<p>Uma questão pode ser consultada clicando no menu superior em Consultar e em seguida no botão de consulta. Uma estrutura como essa deve ser exibida:</p>
					<ul>
					  <li>questao1 <a href="#">download</a> | <a href="#">consulta</a></li>
					  <li>questao2 <a href="#">download</a> | <a href="#">consulta</a></li>
					  <li>questao3 <a href="#">download</a> | <a href="#">consulta</a></li>
					</ul>
				  </div>
				</div>
				<div class="col-sm-3 col-sm-offset-1">
				  <div class="sidebar-module-inset">
					<h4>Sobre</h4>
					<p>Essa iniciativa foi desenvolvida pela turma de Mestrado em Matemática em 2016 </p>
				  </div>
				  <div>
					<h4>Colaboradoes</h4>
					<ol class="list-unstyled">
					  <li><a href="#">Turma mestrado emap 2016</a></li>
					  <li><a href="#">Alexandre Rademaker</a></li>
					  <li><a href="#">Eduardo Cesar</a></li>
					  <li><a href="#">João Gris</a></li>
					  <li><a href="#">Victor Feitosa</a></li>
					</ol>
				  </div>
				  <div>
					<h4>Links Úteis</h4>
					<ol class="list-unstyled">
					  <li><a href="http://emap.fgv.br/">FGV</a></li>
					  <li><a href="http://infolab.stanford.edu/~ullman/pub/stud-guide.html">Gradiance</a></li>
					  <li><a href="https://github.com/eduardocesar93/FGV-Goal">Github</a></li>
					</ol>
				  </div>
				</div>
		  </div>
		</div>
	</main>
  </body>
  <footer>
	  <p> Link para envio de questões pelo <a href="https://github.com/arademaker/ed-2016.2">github</a>.</p>
	  <p>
		<a href="#">Ir para o topo</a>
	  </p>
	</footer>
	<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
	<!-- <script type="text/javascript" src="scripts/goal.js"></script> -->
   <!--  <script type="text/x-mathjax-config">
		MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script> -->
    <!-- <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script> -->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <!-- <script src="scripts/index.js"></script> -->
</html>
